.footer{
    width: 100vw;
    background-image: var(--gradient);

}

.contact{
    width: 100vw;
}

.contact h2{
    color: var(--dark-blue);
    text-shadow: 5px 5px 0px var(box-shadow);
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
    padding: 2rem;
}

.contact__form__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.25rem;
    gap: 2.5rem;    
}

.contact__form__item h3{
    color: #FFF9FD;
    font-size: 1.25rem;
}

.contact__form__link{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #FFF9FD;
    width: 80vw;
}

.contact__form__link::placeholder{
    color: #FFF9FD;
    font-family: var(primarySource);
    font-size: 0.7rem;
}

.contact__form__button{
    background-color: #FFF9FD;
    font-family: var(--primarySource);
    font-size: 0.9rem;
    color: var(--dark-blue);
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem 7rem;
}

@media screen and (min-width: 768px) {
    .contact__form__item h3{
        font-size: 1.5rem;
    }
    
    .contact__form__link::placeholder{
        font-size: 1rem;
    }
    
    .contact__form__button{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .contact h2{
        font-size: 4rem;
    }

    .contact__form__item h3{
        font-size: 2rem;
    }
    
    .contact__form__link{
        padding: 1rem 0;
    }

    .contact__form__link::placeholder{
        font-size: 1.5rem;
    }
    
    .contact__form__button{
        font-size: 1.5rem;
    }
}
    