.services{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 3.75rem 1.25rem;
    gap: 2.5rem;
}

.services h2 {
    color: var(--dark-blue);
    text-shadow: 5px 5px 0px var(--box-shadow);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.services__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

 .services__content__service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    margin: 0 1rem 1rem 0; 
    padding: 2rem 1.25rem;
    gap: 1rem;

    border-radius: 0.625rem;
    background: var(--background-services);
    box-shadow: 5px 5px 20px 0px var(--box-shadow);
}

.services__content__service h3{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 600;
}

.services__content__service p{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1rem
}

.services__content__service a{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-blue);
    background-image: url(../image/arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1.2rem;
} 

@media screen and (min-width: 600px) {
    .services__content__service{
        width: 40vw;
    }
}

@media screen and (min-width: 1400px) {
    .services{
        background-image: url(../image/tooth.png);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: center right;
    }
    
    .services h2 {
        font-size: 4rem;
    }

    .services__content{
        gap: 3rem;
    }

    .services__content__service{
         max-width: 1000px;
        margin-top: 2rem;
    }
    
    .services__content__service h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .services__content__service p{
        font-size: 1rem;
    }
    
    .services__content__service a{
        font-size: 1rem;
        font-weight: 500;
    } 
}
